* {
	font-family: SF Pro Display, SF Mono, Noto Sans CJK HK, Noto Sans CJK JP, Noto Sans CJK KR, Noto Sans CJK SC, Noto Sans CJK TC, Noto Sans Mono CJK HK, Noto Sans Mono CJK JP, Noto Sans Mono CJK KR, Noto Sans Mono CJK SC, Noto Sans Mono CJK TC;
	font-size: 1.2rem;
	background-image: none;
	box-shadow: none;
}

window {
	background-color: transparent;
}

button {
    border-radius: 0px;
    border-color: transparent;
	text-decoration-color: #e8e8e8;
    color: #e8e8e8;
	background-color: transparent;
	border-style: none;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	margin: 0px;
	margin-left: 140px;
	transition: all 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

button:focus, button:active, button:hover {
	color: #e8e8e8;
	margin-left: 0px;
	outline-style: none;
	background-size: 20%;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
