@define-color white #e8e8e8;
@define-color black #101010;
@define-color red #f1616b;
@define-color blue #47a0ed;
@define-color green #6fff75;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SF Pro Display, SF Mono, Noto Sans CJK HK, Noto Sans CJK JP, Noto Sans CJK KR, Noto Sans CJK SC, Noto Sans CJK TC, Noto Sans Mono CJK HK, Noto Sans Mono CJK JP, Noto Sans Mono CJK KR, Noto Sans Mono CJK SC, Noto Sans Mono CJK TC;
    font-size: 1.05rem;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
}

window#waybar {
    background-color: transparent;
}

#pulseaudio {
    padding: 7px 14px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    min-width: 55px;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#pulseaudio.muted {
    color: @red;
}

#backlight {
    padding: 7px 14px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    min-width: 55px;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#cpu {
    padding: 7px 14px;
    border-radius: 0px;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#memory {
    padding: 7px 14px;
    border-radius: 0px;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#clock {
    padding: 7px 14px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#temperature {
    padding: 7px 14px;
    border-radius: 0px;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#battery {
    padding: 7px 14px;
    border-radius: 0px;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    color: @red;
}

#power-profiles-daemon {
    padding: 7px 14px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#power-profiles-daemon:hover {
    border-color: @black;
    background-color: @white;
    color: @black;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @blue;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#network {
    padding: 7px 14px;
    border-radius: 0px;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#tray {
    padding: 7px 14px;
    border-radius: 0px;
    border: 2px solid @white;
    background-color: @black;
    color: @white;
}

#workspaces button {
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    color: @white;
}

/* #workspaces button.hidden {
    color: #9e906f;
    background-color: transparent;
}

#workspaces button.visible {
    color: #ddca9e;
} */

/* #workspaces button:hover {
    color: @black;
    background-color: transparent;
} */

#workspaces button.active {
    min-width: 55px;
    color: @white;
    border: 2px solid @white;
}

#workspaces button.urgent {
    color: @red;
}

#window {
    padding: 7px 14px;
    border: 2px solid @white;
    background-color: @black;
    color: @white; 
}